{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Fale Conosco</h1>
            <p>Você pode entra em contato conosco tanto por email como pelas redes sociais,  abaixo segue os links para os contato:</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail <a href="teste@gmail.com.org">contatos@simplemooc.com</a></li>
                <li>Twitter <a href="teste@gmail.com.org">@simplemooc</a></li>
            </ul>
        </div>
    </div>
{% endblock %}